.App {
  margin:auto;
  background-color: #121212;
  color:white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head-nav{
  background-image: url("./assets/SkyDarkBackground.jpg");
  background-size: cover;
  height: 10rem;

  display:flex;
  flex-direction: column;
  align-items: center;
}
.head-nav h4{
  color:white;
}
#head-nav-icon{
  margin-top: 1rem;
  width: 50px;
}